@media screen and (max-width: 480px){

    body{
      background-image: url(./img/IMG_5602_2.jpg);
      background-position: right;
      background-attachment: cover;
      background-repeat: repeat;

    }
    .check{
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 10px;
      z-index: 1;
      width: 30px;
      height: 15px;
      opacity: 0;
    }
    .check:checked ~ #menu{
      position: fixed;
      right: 0;
      transition: 1s;
    }
    #burguer{
      margin: 0;
      padding: 0;
      position: absolute;
      top: 10px;
      right: 10px;
    }
    #burguer li{
      width: 50px;
      height: 5px;
      background-color: white;
      margin: 10px 0;
      display:block;


    }
    #menu{
      width: 20px;
      right:  -100%;
      position: absolute;
      display:block;


    }





    .tw1{
      width: 40px;
      height: auto;
      border-radius: 100%;
      position: absolute;
      top: -40px;
      right: 10px;
      display:block;


    }
    .tw2{
      width: 40px;
      height: auto;
      border-radius: 100%;
      position: absolute;
      top: 50px;
      right: 10px;
      display:block;


    }
    .tw3{
      width: 40px;
      height: auto;
      border-radius: 100%;
      position: absolute;
      top: 5px;
      right: 10px;
      display:block;


    }
    #primer{
     width: auto;
     height: 120px;
     margin: 10px 10px 10px 10px;
    }
    .comp{
      width: 120px;
      position:absolute;
      text-align: center;
      top: 30px;
      left: 130px;
      color: YellowGreen;
      font-size: 30px;
      border-radius: 30%;
      background-color: white;
    }
    .logo{

     width: 100px;
     height: auto;
     border-radius: 100%;

    }
    .tit{
     color: black;
     text-align: center;
     font-size: 20px;
     background-color: white;

    }
    .ciut{
      width: 340px;
      height: auto;
    }

    .fon{
      text-align: justify;
      padding: 10px;
      position: absolute;
      width: 320px;
      height: 165px;
      top: 445px;
      background-color: rgba( 255, 255, 255, 0.5);
    }
    .in{
      width: 110px;
      height: auto;
    }
    .ha{
      text-align: center;
      padding: 10px;
      position: absolute;
      width: 320px;
      top: 1385px;
      background-color: rgba( 255, 255, 255, 0.5);
    }
}
