@media screen and (min-width: 481px) and (max-width: 768px){
     body{
      background-image: url(./img/IMG_5602_2.jpg);
      background-position: center;

      background-repeat: no-repeat;

    }
    .check{
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 10px;
      z-index: 1;
      width: 30px;
      height: 15px;
      opacity: 0;
    }
    .check:checked ~ #menu{
      position: fixed;
      right: 0;
      transition: 1s;
    }
    #burguer{
      margin: 0;
      padding: 0;
      position: absolute;
      top: 10px;
      right: 10px;
    }
    #burguer li{
      width: 50px;
      height: 5px;
      background-color: white;
      margin: 10px 0;
      display:block;


    }
    #menu{
      width: 20px;
      right:  -15%;
      position: absolute;
      display:block;


    }
    .tw1{
      width: 40px;
      height: auto;
      border-radius: 100%;
      position: absolute;
      right: 55px;
      top: 19px;

    }
    .tw2{
      width: 40px;
      height: auto;
      border-radius: 100%;
      position: absolute;
      right: 100px;

    }
    .tw3{
      width: 40px;
      height: auto;
      border-radius: 100%;
      position: absolute;
      right: 10px;
      top: -19px;

    }
    #primer{
     width: auto;
     height: 120px;
     margin: 10px 10px 10px 10px;

    }
    .comp{
      width: 120px;
      position:absolute;
      text-align: center;
      top: 30px;
      left: 150px;
      color: YellowGreen;
      font-size: 30px;
      border-radius: 30%;
      background-color: white;
    }
    .logo{
     width: 120px;
     height: auto;
     border-radius: 100%;

    }
    #menu{
     text-align: right;
     display: block;
    }
    #menu li{
     display: inline;
     margin: 0 10px;
     position: relative;
     top: -85px;

    }
    .fondo{
     width: 1000px;
     height: auto;
     margin: 0px 0px 0px 420px;
     background-color: white;
    }
    li{
     border-radius: 5px;

    }
    a{
    text-align:center;
    text-decoration: none;
    }
    .entra{
    position: absolute;
    border-radius: 0 10px 0 10px;
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 40px;
    top: 250px;
    left: 45%;
    background-color: white;
    }
    .entra:link{
    color: white;
    }
    .entra:visited{
    color: #1ebcef;
    }
    .entra:hover{
    }
    .entra:active{
    color: pink;
    }
}
